.side-drawer {
  height: 100%;
  background: #fe5801;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0%);
}

.drawer__navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer__navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.drawer__items {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border: 2px solid #fdd401;
  color: #fdd401;
  border-width: 0 0 2px 0;
}

.drawer__items:hover {
  transition: background-color 0.3s ease-out;
  background-color: #3ebeff;
  color: white;
  border: 2px solid white;
  border-width: 0 0 2px 0;
}

.drawer__items:active {
  transition: background-color 0.3s ease-out;
  background-color: #3ebeff;
  color: white;
  border: 2px solid white;
  border-width: 0 0 2px 0;
}
