a {
  text-decoration: none;
}

h1,
h3 {
  font-family: "Fraunces", serif;
}

a,
p,
h2,
li {
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
}

.sunny-header {
  background-image: url("../src/Images/desktop/image-header.jpg");
  height: 100vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.main-header {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 130px;
  color: #fff;
  font-size: 2rem;
}

.main-header img {
  top: 200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
